@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-neutral-200);
  --foreground: var(--color-neutral-900);
  --brand-primary: #2F66FA; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --color-brand-primary: var(--brand-primary);
}

.dark {
  --background: var(--color-neutral-900);
  --foreground: var(--color-neutral-200);
  --brand-primary: #2F66FA ;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} 

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}